{% extends 'base.html' %}

{% block content %}
<h3>Apartment:</h3>
<p>Location: {{apartment.city}}, {{apartment.country}}</p>
  <p>Square area: {{apartment.square_area}}, daily rate: {{apartment.daily_rate}}</p>
  <ul>
    <p>Convenience items:</p>
    {% for item in apartment.convenience_items %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>

<h3>List of apartment's bookings</h3>
{% if page %}
    {% for booking in page %}
    <div>
        <p>Location: {{booking.apartment.city}}, {{booking.apartment.country}}</p>
        <p>(Booking: {{booking.id}}, Apartment: {{booking.apartment.id}})</p>
        <p>Client: {{booking.user.first_name}} {{booking.user.last_name}} ({{booking.user.email}})</p>
        <p>Period: {{booking.starts_at}} {{booking.ends_at}}</p>
        {% if booking.unread_messages != 0 %}
            <p style="font-weight:bolder">Unread messages: {{booking.unread_messages}}</p>
        {% endif %}
        <p><a href="{% url 'booking-chat' booking.pk %}">Chat with client</a></p>
    </div>
    {% endfor %}
{% else %}
    <p>You don't have any bookings yet.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}