{% extends 'base.html' %}

{% block content %}
<h3>List of your bookings</h3>
{% if page %}
    {% for booking in page %}
        <p>Location: {{booking.apartment.city}}, {{booking.apartment.country}}</p>
        <p>(Booking: {{booking.id}}, Apartment: {{booking.apartment.id}})</p>
        <p>Period: {{booking.starts_at}} {{booking.ends_at}}</p>
        <p>Daily rate: {{booking.apartment.daily_rate}}</p>
        <p><a href="{% url 'booking-chat' booking.pk %}">Chat with owner</a></p>
        {% if booking.unread_messages %}
            <p style="font-weight:bolder">Unread messages: {{booking.unread_messages}}</p>
        {% endif %}
    {% endfor %}
{% else %}
    <p>You don't have any bookings yet.</p>
{% endif %}

{% include 'pagination.html' %}
{% endblock %}