{% extends 'base.html' %}
{% load tags %}

{% block content %}
<h1>Home page!</h1>

<div id="map">
    <form method="post">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input type="submit" value="Search">
    </form>
</div>

<h3>Available apartments</h3>
{% if page %}
    {% for apartment in page %}
        <p>{{apartment.city}}, {{apartment.country}}</p>
        <p>{{apartment.daily_rate}}</p>
        {% if apartment.distance %}
            <p>Distance from you: {{apartment.distance.km|round_by_two}} km</p>
        {% endif %}
        {% with apartment.photos.first as photo %}
            <img src="{{photo.photo.url}}">
        {% endwith %}
        <p><a href="{% url 'apartment-detail' apartment.pk %}">Details</a></p>
    {% endfor %}
{% else %}
    <p>None are found or available with requested features.</p>
{% endif %}

{% include 'pagination.html' %}
{% endblock content %}