
{% extends 'base.html' %}
{% block content %}
<h1>Home page!</h1>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Search">
</form>

<h3>Available apartments</h3>
{% if apartments_page %}
    {% for apartment in apartments_page %}
        <p>{{apartment.city}}, {{apartment.country}}</p>
        <p>{{apartment.daily_rate}}</p>
        <p><a href="{% url 'apartment-detail' apartment.pk %}">Details</a></p>
    {% endfor %}
{% else %}
    <p>None are found or available with requested features.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if apartments_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ apartments_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ apartments_page.number }} of {{ apartments_page.paginator.num_pages }}.
        </span>

        {% if apartments_page.has_next %}
            <a href="?page={{ apartments_page.next_page_number }}">next</a>
            <a href="?page={{ apartments_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}